@charset "utf-8";

@-webkit-keyframes textScroll{
    0% {left:0;width:0;}
    50% {width:100%;}
    100% {right:0;width:0;}
}
@keyframes textScroll{
    0% {left:0;width:0;}
    50% {width:100%}
    100% {right:0;width:0;}
}
@-webkit-keyframes btnIn{
    0% {bottom: 5rem;}
    50% {bottom: 5.5rem;}
    100% {bottom: 5rem;}
}
@keyframes btnIn{
    0% {bottom: 5rem;}
    50% {bottom: 5.5rem;}
    100% {bottom: 5rem;}
}

@media only screen and (max-width: 1024px) and (min-width: 200px) {
    body {-webkit-overflow-scrolling: touch;letter-spacing:-0.04em;font-size: 1.2rem;}
    #skipnavi {display: none;}

    #wrapper {overflow: hidden;min-height: 100%;background: #fff;transition: 0.4s ease;}

    /*header*/
    #header {position: fixed;top: 0;left: 0;width: 100%;height: 5rem;z-index: 10;}
    #header .logo {position: absolute;top: 1.5rem;left: 1rem;width: 15rem;height: 2.8rem;z-index: 12;}
    #header .logo a {display:inline-block;width: 100%;height: 100%;background: url(../images/common/m_logo_b.png) no-repeat;background-size: 100% auto !important;text-indent: -9999rem;}

    .gnb_wrap {position: relative;width: 100%;height: 0;overflow: hidden;transition: 0.4s ease;}
    .btn_gnb {position:fixed;top: 1.5rem;right: 1.5rem;width: 2.5rem;height: 2.5rem;cursor: pointer;}
    .btn_gnb > div {width: 2.5rem;height: 0.2rem;margin-bottom:0.6rem;background: #000;transition:0.2s ease;}
    .btn_gnb > div:last-child {margin-bottom:0;}
    

    #gnb_area {display:none;position: absolute;top: 5rem;left: 0;width: 100%;height: calc(100% - 5rem);}
    .gnb {display: flex;flex-wrap: wrap;align-content: center;height: 100%;}
    .gnb li {width: 100%;margin-bottom: 3rem;text-align: center;}
    .gnb li:last-child {margin-bottom:0;}
    .gnb li a {position: relative;display:inline-block;width: 100%;font-size: 2.8rem;font-weight: 900;letter-spacing: -0.08rem;}


    #header.on .gnb_wrap {height: 100vh;height: calc(var(--vh, 1vh) * 100);background:#ddd;}
    #header.on #gnb_area {display:block;}
    #header.on .btn_gnb > div {position:absolute;top: 1rem;}
    #header.on .btn_gnb .bar01 {transform: rotate(45deg);}
    #header.on .btn_gnb .bar02 {display: none;}
    #header.on .btn_gnb .bar03 {transform: rotate(135deg);}

    /*footer*/
    #footer {position: relative;padding: 0.5rem 0;text-align: center;font-size: 1.1rem;color: #fff;background: #000;}
    
    /*container*/
    #container {/* width: calc(100% - 12.5rem); *//* margin-left: 12.5rem; */}
    #content {position: relative;background: #fff;transition: 1s ease;transition-delay: 0.3s;z-index: 3;}
    #content > section {padding: 5rem 2rem 0;}
    .cont_wrap {width: 100%;margin:0 auto;}

    /*main*/
    #main {position: fixed;top: 0;display:flex;width: 100%;height: 100vh;height: calc(var(--vh, 1vh) * 100);margin: 0 auto;flex-wrap: wrap;align-content: center;justify-content: center;transform:scale(0);transition:0.8s ease-out;z-index: 1;}
    #main .main_tit {font-size: 2.2rem;font-weight: 700;line-height: 1.7;color: #fff;}
    #main .main_tit .i_hand {display:none;}
    #main .main_tit > span {position:relative;line-height: 1.2;}
    #main .main_tit > span::before {content: '';position: absolute;height: 100%;background: #fff;}
    #main .main_tit > span::after {content: '';position: absolute;right: 0;width: 100%;height: 100%;background: #000;transition: width 0.7s ease-in-out;}
    #main .main_tit.active > span::before {animation: textScroll 1s ease-in-out;}
    #main .main_tit.active > span::after {width: 0;}
    #main .main_tit.active > span.line2::before {animation-delay: 0.9s;}
    #main .main_tit.active > span.line2::after {transition-delay: 0.9s;}
    #main .main_tit.active > span.line3::before {animation-delay: 1.6s;}
    #main .main_tit.active > span.line3::after {transition-delay: 1.6s;}

    #main .btn_in {position:absolute;left:50%;bottom: 5rem;width: 8.4rem;height: 3.4rem;line-height: 3rem;transform: translateX(-50%);border: 0.2rem solid #fff;border-radius: 1rem;color: #fff;text-align: center;font-size: 1.2rem;font-weight: 700;cursor: pointer;transition: 0.3s ease;animation: btnIn 1.2s 3.1s linear infinite;}
    #main .btn_in:hover {background:#fff;color:#000;box-shadow:0 0 4rem #fff;}
    #main .btn_in::before {content:'';position:absolute;left: -0.2rem;top: -0.2rem;width: 8.4rem;height: 4rem;background: #000;transition: 0.6s ease 3s;transform: scale(1);}
    #main .main_tit.active+.btn_in::before {transform:scale(0);}
    
    .cont_tit {margin-bottom: 4rem;font-size: 1.6rem;}
    .cont_tit strong {display: block;margin-right: 2rem;font-size: 3rem;font-family: 'Montserrat';font-weight: 900;line-height: 1;}

    /*black ver*/
    #wrapper.black {background:#000;height: 100vh;height: calc(var(--vh, 1vh) * 100);}
    #wrapper.black .gnb_wrap {display:none;}
    #wrapper.black #header .logo a {background: url(../images/common/m_logo_wm.png) no-repeat;}
    #wrapper.black #content {margin-top:100vh;height: calc(var(--vh, 1vh) * 100);z-index:2;}
    #wrapper.black #main {transform:scale(1);}
    #wrapper.black .main_tit .i_hand {display:inline-block;}

    /*about*/
    #content > #introduce {padding-top: 7rem;}
    .intro_txt {font-size: 1.4rem;line-height: 1.5;color: #333;word-break: keep-all;}
    .intro_me .me {text-align:center;margin-bottom: 4rem;}
    .intro_me .me .img {width: 90%;height: 20rem;margin: 0 auto 1.5rem;border-radius: 50%;background: url(../images/main/me.jpg) no-repeat 61% 50%;background-size: 100% auto;border: 0.8rem solid #000;}
    .intro_me .me .name {display:block;font-size: 1.5rem;font-weight:900;}
    .intro_me .me .birth {font-size: 1.3rem;}
    .intro_word {display: flex;flex-wrap: wrap;margin: 5rem 0;}
    .intro_word > li {width: 100%;margin-top: 4rem;}
    .intro_word > li > strong {font-family: 'Montserrat';font-size: 2rem;font-weight:900;color: #ff0052;}
    .intro_word .word_list {margin-top: 1rem;}
    .intro_word .word_list li {position: relative;padding-left: 1.2rem;font-size: 1.3rem;line-height: 1.2;margin-bottom: 0.6rem;color: #333;}
    .intro_word .word_list li::before {content:"";position:absolute;left:0;top: 0.5rem;width: 0.6rem;height: 0.1rem;background: #000;}
    .intro_word .word_list .date {margin-left: 0.4rem;font-size: 1.2rem;}

    /*작업물*/
    .work_list {display: flex;flex-wrap: wrap;justify-content: space-between;}
    .work_list li {width: 100%;margin-bottom: 5rem;}
    .work_img {width: 100%;height: 18rem;border: 0.1rem solid #333;overflow: hidden;}
    .work_img a {position: relative;display: block;height: 100%;}
    .work_img img {position: absolute;left: 50%;top: 0;width: 100%;min-height: 100%;transform: translateX(-50%);transition: 0.4s ease;}
    .work_img:hover img {transform: translateX(-50%) scale(1.1);}
    .work_img .hover_box {display: flex;position: absolute;bottom: 0;width: 100%;height: 100%;transition: 0.4s ease;background: rgba(0,0,0,0.6);text-align: center;align-content: center;justify-content: center;flex-wrap: wrap;color: #fff;transform: scale(0);}
    .work_img:hover .hover_box {transform: scale(1);}
    .work_img .hover_box strong {width: 100%;font-weight: 500;}
    .work_tit {margin-top: 1rem;}
    .work_tit h3 {font-size: 1.5rem;}
    .layer_pop {display:none;width: calc(100% - 3.6rem);height: 20rem;background: #ffd5e2;border: 0.2rem solid #ff6a98;box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.3);z-index: 10;}
    .work_pop {position:relative;display: flex;align-content: center;justify-content: center;width: 100%;height: 100%;text-align:center;flex-wrap: wrap;}
    .work_pop strong {margin-bottom: 1rem;width: 100%;font-size: 2rem;}
    .work_pop p {width: 100%;font-size: 1.5rem;}
    .work_pop .btn_close {position: absolute;top: 1rem;right: 1rem;width: 2rem;height: 2rem;background: url(../images/main/i_close.svg) no-repeat;background-size: contain;text-indent: -9999rem;border: 0;}
    .work_pop .btn_chk {margin-top: 1.5rem;padding: 0.2rem 1rem;font-size: 1.3rem;font-weight: 700;background: #333;color:#fff;border: 0.15rem solid #333;border-radius: 0.6rem;transition: 0.3s ease;}
    .work_pop .btn_chk:hover {color: #333;background: #fff;}


    /*contact*/
    section#contact {padding: 5rem 2rem;background: #000;color: #fff;}
    .contact_txt {margin: 3rem 0;font-size: 1.3rem;}
    .contact_way {display: flex;flex-wrap: wrap;}
    .contact_way li {display: inline-block;margin:0 3rem 1rem 0;}
    .contact_way li:last-child {margin:0;}
    .contact_way li a {position: relative;display: inline-block;padding-left: 2.7rem;font-size: 1.8rem;line-height: 1;z-index: 1;}
    .contact_way li a::before {content:'';position:absolute;bottom: 0;width: 0;height: 1rem;background: #000000;z-index: -1;transition: 0.3s ease;}
    .contact_way li:hover a::before {width: calc(100% - 3rem);}
    .contact_way li.mail a {background: url(../images/main/i_email.svg) no-repeat 0 100%;background-size: auto 100%;}
    .contact_way li.call a {background: url(../images/main/i_call.svg) no-repeat 0 100%;background-size: auto 100%;}
    .contact_way li.career a {background: url(../images/main/i_career.svg) no-repeat 0 100%;background-size: auto 100%;}

}

/* Mobile Basic */
/*@media only screen and (min-width:320px) and (max-width:767px) {
    html {font-size: 10px;}
}*/
/* - 320 - */
@media only screen and (min-width:320px) and (max-width:359px) {
     html{font-size:10px;}

}
 
/* - 360 - */ 
@media only screen and (min-width:360px) and (max-width:374px) {
    html{font-size:10px;}
} 

/* iphone 6,7,8 */
@media only screen and (min-width:375px) and (max-width:413px) {
    html {font-size:11px;}
         
}

/* iphone 6+,7+,8+ */
@media only screen and (min-width:414px) and (max-width:767px) {
    html{font-size:12px;}
        
}

@media only screen and (min-width:450px) and (max-width:767px){
    html{font-size:12px;}
   }


/* ipad 세로*/
@media only screen and (min-width : 768px) and (max-width: 1024px){
    html{font-size:13px;}

    .intro_me .me .img {width:35rem;height: 23rem;}
    .work_list li {width: 49%;}
    
}
