@charset "utf-8";

@media only screen and (max-width: 1023px) and (min-width: 200px) {
    body {-webkit-overflow-scrolling: touch;letter-spacing: -0.04rem;font-size: 1.2rem;}
    #skipnavi {display: none;}

    /*main*/
    #container {position: relative;}
    #content {width: 100%;overflow: hidden;}
    #content .cont_wrap {position: relative;width: 100%;height: 100%;padding: 8rem 0;margin:0 auto;}
    #content .cont_wrap > div {width: 100%;padding: 0 1.5rem;}
    .cont_wrap .title .tit {padding-top:2rem;font-size: 4rem;color: #ff3333;font-weight: 700;}
    .cont_wrap .box {padding: 5rem 1.5rem;background: rgba(0, 0, 0, 0.7);border-radius: 5rem 0;border: 0.1rem solid rgba(255, 51, 51, 0.3);}
    .txt_b {font-size: 1.8rem !important;font-weight: 700;}
    .txt_s {font-size: 1.4rem;}
    .red {color:#ff3333;}
    
    .pc_block {display: inline;}
    .mb_block {display: block;}

    .sub_maintit {padding:4rem 0 2rem;font-size: 3.5rem;letter-spacing: -0.175rem;text-align: center;}
    .sub_tit {font-size: 2.5rem;letter-spacing: -0.125rem;text-align: center;}
    .sub_txt {margin: 1rem 0 3rem;font-size: 1.3rem;letter-spacing: -0.075rem;text-align: center;word-break: keep-all;}

    .tab_content {display: none;flex-wrap: wrap;justify-content: space-between;}
    .tab_menu {display: flex;flex-wrap: wrap;gap: 1rem;justify-content: center;}
    .tab_menu > li {min-width: 5.5rem;background: #fff;text-align:center;border: 0.1rem solid #ddd;font-size: 1.2rem;letter-spacing: -0.06rem;border-radius: 1.3rem;}
    .tab_menu > li:last-child {border-right:0.1rem solid #ddd;}
    .tab_menu > li.current {background: #e89600;}
    .tab_menu > li > a {display:inline-block;width:100%;height:100%;padding: 0.5rem 1.3rem;color:#000;}
    .tab_menu > li.current > a {color:#fff;}

    
    .station_wrap {padding: 0 2.5%;}

    /* 스테이션e */
    .station_e {padding-top: 5.5rem;}
    .station_list {display: flex;flex-wrap: wrap;justify-content: space-between;}
    .station_list > li {width: 48.5%;margin-bottom: 2rem;box-shadow: 0.1rem 0.2rem 0.4rem rgba(0,0,0,0.1);}
    .station_list > li .outside {position: relative;height: 14rem;}
    .station_list > li .outside::after{content:'';position:absolute;right:0.5rem;top:0.5rem;width:3.5rem;height:3.5rem;background:url(../images/pc/i_station_e.png) no-repeat;background-size:contain;}
    .station_list > li .outside img {width: 100%;height: 100%;}
    .station_list > li .name {position: relative;padding: 1rem 0.8rem;}
    .station_list > li .branch {position: relative;padding-left: 0.8rem;font-size: 1.5rem;letter-spacing: -0.07rem;font-weight:600;}
    .station_list > li .branch::before {content: '';position: absolute;left: 0;top: 50%;width: 0.2rem;height: 1.5rem;transform: translateY(-50%);background-color: #202020;}
    .station_list > li .address {margin: 0.5rem 0 0.8rem;font-size: 1.2rem;letter-spacing: -0.065rem;min-height: 4rem;}
    .station_list > li .tel {width: 100%;border: 0.1rem solid #202020;border-radius: 1.5rem;letter-spacing: -0.075rem;text-align: center;}
    .station_list > li .tel a {display: inline-block;width: 100%;height: 100%;padding: 0.45rem 1.4rem;}

    /* 스테이션m */
    .station_m {padding-top: 6rem;}
    .station_m .tab_menu > li.current {position: relative;}
    .station_m .tab_menu > li.current::after {content:'';position: absolute;left:0;bottom:-0.1rem;width: 100%;height:0.1rem;background:#fff;}
    .station_m .station_list {flex-wrap: nowrap;gap: 1rem;overflow-x: auto;overflow-y: hidden;padding-top:1.5rem;}
    .station_m .station_list > li {width: 16rem;flex: 0 0 auto;}
    .station_m .station_list > li .outside {height:11rem;}
    .station_m .station_list > li .outside::after{top:-1.5rem;background:url(../images/pc/i_station_m.png) no-repeat;background-size:contain;}
    .station_m .count {display: flex;justify-content: space-between;margin: 2rem 0 1rem;border:0.1rem solid #ddd;height: 3.5rem;line-height: 3.3rem;padding: 0 1rem;}
    
    /* 전국매장안내 */
    .station_all {padding:9rem 0 5rem;}
    .tbl_tit {display: none;}

    .info {width: 100%;margin-top: 2rem;padding: 2rem 1.5rem;font-size: 1.3rem;letter-spacing: -0.06rem;border: 0.1rem solid #ccc;}
    .info .branch {padding-bottom: 1rem;margin-bottom: 1rem;border-bottom: 0.1rem solid #ccc;}
    .info .branch .grade {margin-right: 1rem;}
    .info .branch .grade i {display: inline-block;width: 2rem;height: 2rem;margin-right:0.3rem;vertical-align: middle;background:url(../images/pc/i_ms.png) no-repeat;background-size: contain;}
    .info .branch .grade.es i {display: inline-block;width: 2rem;height: 2rem;margin-right:0.3rem;vertical-align: middle;background:url(../images/pc/i_es.png) no-repeat;background-size: contain;}
    .info .branch .best {float: right;position:relative;margin-right: 0.3rem;}
    .info .best.on::after {content:'BEST';background:#f5e100;font-weight:700;padding: 0 0.3rem;}
    .info .address {font-size: 1.3rem;}
    .info .tel {font-size: 1.3rem;margin-top:0.3rem;}
    .info .item {display:flex;margin-top: 1rem;background: #f1f1f1;gap: 2%;padding: 0.5rem 1rem;align-items: center;}
    .info .item span {position: relative;display: flex;width: 79%;align-items: center;}
    .info .item span::after {content:'A/S가능';font-size: 1.3rem;font-weight: 600;}
    .info .item i {display: inline-block;width: 5%;height: 2.6rem;background-position: center center;background-size: contain;background-repeat: no-repeat;}
    .info .item i.bicycle {background-image: url(../images/pc/i_bicycle.png);}
    .info .item i.bicycle.no {background-image: url(../images/pc/i_bicycle_off.png);}
    .info .item i.kick {background-image: url(../images/pc/i_kick.png);}
    .info .item i.kick.no {background-image: url(../images/pc/i_kick_off.png);}
    .info .item i.scooter {background-image: url(../images/pc/i_scooter.png);}
    .info .item i.scooter.no {background-image: url(../images/pc/i_scooter_off.png);}
    .info .item span.no {background:#fff;}

    @media only screen and (max-width:767px) {
        html{font-size:10px;}
        
        .info .item i {width: 7%;}
         
    
         
    }
}    

/* Mobile Basic */
/*@media only screen and (min-width:320px) and (max-width:767px) {
    html {font-size: 10px;}
}*/
/* - 320 - */
@media only screen and (min-width:320px) and (max-width:359px) {
     html{font-size:10px;}

}
 
/* - 360 - */ 
@media only screen and (min-width:360px) and (max-width:374px) {
    html{font-size:10px;}

} 

/* iphone 6,7,8 */
@media only screen and (min-width:375px) and (max-width:413px) {
    html {font-size:10px;}

     
}

/* iphone 6+,7+,8+ */
@media only screen and (min-width:414px) and (max-width:767px) {
    html{font-size:10px;}

     

     
}

@media only screen and (min-width:450px) and (max-width:767px){
    html{font-size:12px;}

}


/* ipad 세로*/
@media only screen and (min-width : 768px) and (max-width: 1023px){
    html{font-size:11px;}

    .tab_menu {width:60%;margin:0 auto;}

    .station_m .station_list > li {width:18rem;}
    .station_list > li .outside {height: 18rem;}
    .station_m .station_list > li .outside {height: 12rem;}

    .info {width:49%;}
    .info .address {min-height: 3.7rem;}
    .info .item span {width:70%;}
    .info .item i {width:8%;}


}
